[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "==1.0.2"
flask-sqlalchemy = "==2.3.2"
flask-wtf = "==0.14.2"


[requires]

python_version = "3.6"
